[submodule "lib/ProPainter"]
	path = lib/ProPainter
	url = https://github.com/Lim-Kevin/ProPainter_fork.git
[submodule "lib/MiVOS_STCN"]
	path = lib/MiVOS_STCN
	url = https://github.com/Lim-Kevin/MiVOS_fork.git
	branch = MiVOS-STCN
