<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='mask.css') }}">
    <title>Inpainter</title>
  </head>
  <body>
    <h1>Draw</h1>
    <div class="video_player">
      <div class="canvas_container">
        <img class="overlay" id="mask" />
        <canvas class="overlay" id="cv1"></canvas>
        <img id="slideshow" src="{{url_for('get_frame', num=0)}}" />
      </div>
      <!-- TODO: update button names -->
      <div class="controls">
        <button id="play_button" onclick="play_or_pause()" type="button">Play/Pause</button>
        <button id="reset_button">Reset mask</button>
        <button id="change_button">Change +/-</button>
        <button id="propagate_button">Propagate</button>
        <button id="save_button" onclick="save()" type="button">Save Mask</button>

      </div>
      <input type="range" id="seekbar" min="0" max="{{num_frames-1}}" value="0" list="markers"/>
      <datalist id="markers"></datalist>
    </div>
    <p id="frames_display">Frame: 1/{{num_frames}}</p>
    <img id="temp" />

    <script defer src="{{url_for('static', filename='mask.js')}}"></script>
    <script src="{{url_for('static', filename='slideshow.js')}}", fps="{{fps}}", num_frames="{{num_frames}}"></script>
  </body>
</html>