#video_player {
    display: flex;
    width: 50vw;
    height: fit-content;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#canvas_container {
    background-color: lightgray;
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    display: flex;
}

.control_button {
    flex: 1;
    padding: 10px 4px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    white-space: nowrap;
}

.control_button:hover {
    background-color: #3c86fa;
}

.control_button:disabled {
    background-color: lightgray;
    color: darkgray;
    border-color: darkgray;
    cursor: not-allowed;
}

#play_button {
    flex: 2;
}

#slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#seekbar {
    margin: 10px 0;
}

#slider {
    width: 100%;
    margin: 0;
}